#page-dashboard {
  .page-content-body-section-products {
    .stat-container {
      float: left;
      width: 10%;
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 10px;
    }
    .stat-container:nth-child(10n) {
      padding-right: 0;
    }
  }
}