#page-products {
  .stats-summary-section {
    .stat-container {
      float: left;
      width: 10%;
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 10px;
    }
    .stat-container:nth-child(10n) {
      padding-right: 0;
    }
    .stat-number {
      font-size: 15px;
    }
  }
}