#page-products {
  .stat-container {
    float: left;
    width: 12.5%;
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  .stat-container:nth-child(8n) {
    padding-right: 0;
  }
}