#page-listings.page-content-body
  .page-content-body-section
    %h1 Listings

    %table#table-listings.stripe.order-column
      %thead
        %tr
          %th Type
          %th Item
          %th Style
          %th Gender
          %th Color
          %th Size
          %th Listing
      %tbody
        - get_listings.each do |listing|
          %tr
            %td
              = listing.product.product_type.product_type
            %td.border-right=listing.product.description
            - if listing.variation
              %td=listing.variation.style
              %td=listing.variation.gender
              %td
                .color-swatch{style: "background-color: #{listing.variation.color}", title: "#{listing.variation.color}"}
              %td.border-right=listing.variation.size
            - else
              %td
              %td
              %td
              %td.border-right
            %td
              =listing.etsy_listing_variation
              = link_to edit_admin_listing_url(listing) do
                %span.glyphicon.glyphicon-pencil.edit-icon

:javascript
  $("#table-listings").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [0, 'asc'],
    orderClasses: true
  });