#page-giveaways.page-content-body
  .page-content-body-section
    %h1 Giveaways

    .stats
      .stat-container
        .stat
          .stat-label Total Items Given Away
          .stat-number
            