.stats
  .stat-container
    .stat
      .stat-label Total Expenses
      .stat-number
        = "$" + get_expenses_number.to_s



%table#table-expense-categories.stripe.order-column
  %thead
    %tr
      %th Expense
      %th Spent
  %tbody
    - get_expense_types.each do |expense_type|
      %tr
        %td= expense_type
        %td= "$" + get_expenses_by_type(expense_type).to_s



:javascript
  $("#table-expense-categories").DataTable({
    dom: 'iCfrtS',
    pageLength: -1,
    order: [1, 'desc'],
    orderClasses: true
  });