/*************************************************
FONT STYLES
**************************************************/
a, button, input, select, textarea {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

.secondary {
  font-size: 12px;
  color: #9d9d9d;
  display: block;
}

/*************************************************
COLORS
**************************************************/
.red {
  color: $red;
}

