#page-products.page-content-body
  .page-content-body-section
    %h1 Products

    .stats
      .stat-container
        .stat
          .stat-label Cards Sold
          .stat-number
            cards

      .stat-container
        .stat
          .stat-label T-shirts Sold
          .stat-number
            t-shirts

      .stat-container
        .stat
          .stat-label Stickers
          .stat-number
            stickers

  .page-content-body-section
    %h1 Cards

  .page-content-body-section
    %h1 T-shirts

  .page-content-body-section
    %h1 Stickers




    %p
      products:
    %ul
      - @products.each do |product|
        %li
          %strong (product)
          =product.product_name
          %br
          - product.get_listings.each do |listing|
            %strong (etsy_listing_variation)
            =listing.etsy_listing_variation
            000000000000
          %br
          %br

    %p
      cards:
      =@cards

  .page-content-body-section
    %h1 Import Products
    = form_tag import_products_path, multipart: true do
      = file_field_tag :file
      = submit_tag "Import"