@import "partials/variables";

#header {
  background: $bg-pink;
  width: 100%;
  height: 100px;
  margin-left: -200px;
  padding-right: 28px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;

  #logo {
    height: 100px;
    width: 200px;
    display: inline-block;
    padding-top: 17px;
    background: $bg-darkpink;
    text-align: center;
    img.header-logo {
      width: 80px;
      height: auto;
      &:hover {opacity: 0.9;}
    }

  }

  .header-links {
    float: right;
    display: inline-block;
    margin-top: 28px;
    a {
      color: #D87599;
      font-size: 25px;
      margin: 0 20px;
      float: right;
      display: inline-block;
      &:hover {color: #fff;}
    }
  }

}

@media (max-width:767px) {
  #header {
    margin-left: 0px;
  }

}