.stats {
  display: block;
  clear: both;
}
.stats:after {
  content: "";
  display: table;
  clear: both;
}
.stat-container {
  float: left;
  width: 16.66666%;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
.stat-container:nth-child(6n) {
  padding-right: 0;
}
.stat {
  border-top: 4px solid #ffffff;
  background: white;
  padding: 18px 20px 22px 20px;
  clear: both;
  overflow: auto;
}
a:hover .stat {
  border-top: 4px solid $pink;
  color: $text-color;
}
a .stat-number,
a .stat-stats,
a .stat-stats-row-number {
  color: $text-color;
}
a .stat-number.red {
  color: $red;
}
a .stat-number.green {
  color: $green;
}

.stat-label {
  font-size: 11px;
  color: #9d9d9d;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stat-number {
  font-size: 18px;
  text-transform: lowercase;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stat-stats {
  margin-top: 5px;
  line-height: 1.6rem;
}
.stat-stats-row {
  display: block;
  margin-bottom: 3px;
}
.stat-stats-row-number {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}
.stat-stats-row-label {
  display: inline-block;
  color: #9d9d9d;
}