.stats {
  display: block;
  clear: both;
}
.stats:after {
  content: "";
  display: table;
  clear: both;
}
.stat-container {
  float: left;
  width: 20%;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
}
.stat-container:nth-child(5n) {
  padding-right: 0;
}
.stat {
  background: white;
  padding: 20px;
}

.stat-label {
  font-size: 11px;
  color: #9d9d9d;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stat-number {
  font-size: 18px;
  text-transform: lowercase;
  line-height: 24px;
}