/* STATS ---------------------------- */

.stats {
  display: block;
  clear: both;
}
.stats:after {
  content: "";
  display: table;
  clear: both;
}
.stat-container {
  float: left;
  width: 16.66666%;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 10px;
  overflow: auto;
}
  /* Tab size options */
  .stats-5 .stat-container {
    width: 20%;
  }
  .stats-4 .stat-container {
    width: 25%;
  }
  .stats-3 .stat-container {
    width: 33.333%;
  }
  .stats-2 .stat-container {
    width: 50%;
  }
  .stat-container:nth-child(6n),
  .stats-5 .stat-container:nth-child(5n),
  .stats-4 .stat-container:nth-child(4n),
  .stats-3 .stat-container:nth-child(3n),
  .stats-2 .stat-container:nth-child(2n) {
    padding-right: 0;
  }

.stat {
  border-top: 4px solid #ffffff;
  border-bottom: 10px solid #f4f5f6;
  background: white;
  padding: 18px 20px 22px 20px;
  clear: both;
  overflow: auto;
}
a:hover .stat {
  border-top: 4px solid $pink;
  color: $text-color;
}

/********** Stats Tabbed *********/
.stats-tabbed .stat-container .stat{
  border-top: 4px solid #dddddd;
}
.stats-tabbed .stat-container.active .stat{
  border-top: 4px solid $pink;
  border-bottom: 10px solid #ffffff;
}
.stats-tabbed .stat-container:hover .stat{
  border-top: 4px solid $pink;
}
.stats-tabbed .stat-container {
  margin-bottom: 0;
}

/********** Typography *********/
a.stat-container,
a.stat-container:hover,
a.stat-container:hover .stat-label,
a.stat-container:hover .stat-number,
a.stat-container:hover .stat-stats,
a.stat-container:visited,
a.stat-container:visited .stat-label,
a.stat-container:visited .stat-number,
a.stat-container:visited .stat-stats {
  text-decoration: none;
}

a .stat-number,
a .stat-stats,
a .stat-stats-row-number {
  color: $text-color;
}
a .stat-number.red {
  color: $red;
}
a .stat-number.green {
  color: $green;
}

.stat-label {
  font-size: 11px;
  color: #9d9d9d;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.stat-number {
  font-size: 24px;
  text-transform: lowercase;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stat-stats {
  margin-top: 5px;
  line-height: 1.6rem;
}
.stat-stats-row {
  display: block;
  margin-bottom: 3px;
}
.stat-stats-row-percentage {
  display: inline-block;
  margin-right: 5px;
}
.stat-stats-row-number {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}
.stat-stats-row-label {
  display: inline-block;
  color: #9d9d9d;
}