.border-right {
  border-right: 1px solid #ddd;
}
.border-left {
  border-left: 1px solid #ddd;
}
.border-top,
.border-top td,
.border-top th {
  border-top: 1px solid #ddd;
}
.border-top-thick,
.border-top-thick td,
.border-top-thick th {
  border-top: 3px solid #ddd !important;
}
.border-bottom,
.border-bottom td,
.border-bottom th {
  border-bottom: 1px solid #ddd;
}
.border-bottom-thick,
.border-bottom-thick td,
.border-bottom-thick th {
  border-bottom: 3px solid #ddd !important;
}

/*Table*/

table.dataTable {
  border: 1px solid #ddd;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  &:last-child {
    border-right: 0;
  }
}
table.dataTable thead th{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 19px;
}
table.dataTable thead th:hover {
  background-color: #E7E7E7;
}
table.dataTable thead th:active,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
  box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.13);
}

table.dataTable tbody td.border-right {
  border-right: 1px solid #ddd;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #ddd;
}

/*Table Controls*/

.dataTables_wrapper .dataTables_filter {
  margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_filter input {
  width: 250px;
  font-weight: normal;
}