@import "partials/variables";

/*************************************************
FONT STYLES
**************************************************/
a, button, input, select, textarea {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

a, a:link, a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2.0rem;
}
h3 {
  text-transform: none;
  font-weight: 700;
  color: #6D717A;
}

.subtitle {
  color: #9d9d9d;
  display: block;
  font-size: 15px;
  margin-top: 5px;
  text-transform: none;
  font-weight: normal;
}

.secondary {
  font-size: 12px;
  color: #9d9d9d;
  display: block;
  text-transform: none;
}

/*************************************************
COLORS
**************************************************/
.red {
  color: $red;
}
.green {
  color: $green;
}
