/* Defining colors */
$pink: #E27AA0;
$bg-pink: #F0A4C0;
$bg-darkpink: #E486A8;

$green: #4D9666;
$red: #BB5A5A;

/* Importing Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

/* Changing the styling of the body text
See: http://getbootstrap.com/customize */
$text-color: #6D717A;
$line-height-base: 1.8;
$font-family-sans-serif: "Source Sans Pro";
$font-size-base: 14px;

/* Changing the color of link text
See: http://getbootstrap.com/customize */
$brand-primary: $pink;

/* Changing the color of header text
See: http://getbootstrap.com/customize */
$headings-font-family: 'Source Sans Pro';
$headings-font-weight: 300;
$headings-color: $pink;

/* Padding between columns in grid */
$grid-gutter-width: 0px;


/*Chart Colors*/
$current: #F0A4C0;
$retail: #FFA67C;
